# 1. Load relevant Excel files (RMMS, BMMS, Bridges) into Python, explore data, remove duplicates and initial NaN evalutaion

In [1]:
# Load relevant excel files into Python & drop duplicates
# Within the excel the last 10 or so didn't have a number so these where added beforehand.
import numpy as np
import pandas as pd
bridges_df = pd.read_excel('Bridges.xlsx')
#exploratory
bridges_df.set_index("Number",inplace=True)
bridges_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 3193 entries, 1.0 to nan
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   StructureName        2845 non-null   object
 1   StructureType        3190 non-null   object
 2   Condition of Bridge  3190 non-null   object
 3   TotalWidth           3183 non-null   float64
 4   TotalLength          3190 non-null   float64
 5   ConstructionYear     3180 non-null   float64
 6   NumberOfSpan         3182 non-null   float64
 7   Zone                 3193 non-null   object
 8   Circle               3193 non-null   object
 9   Division             3193 non-null   object
 10  Sub-Division         3193 non-null   object
 11  RoadNo               3193 non-null   object
 12  Unnamed: 13          0 non-null      float64
 13  StructureLRPName     3190 non-null   object
 14  ReferenceLRPNo       3190 non-null   object
 15  LocationLRPOffset    3190 non-null   float64
 16  LocationChainage     3189 non-null   float64
 17  LatitudeDegree       3188 non-null   float64
 18  LatitudeMinute       3188 non-null   float64
 19  LatitudeSecond       3173 non-null   float64
 20  LongitudeDegree      3188 non-null   float64
 21  LongitudeMinute      3188 non-null   float64
 22  LongitudeSecond      3167 non-null   float64
 23  Unnamed: 24          0 non-null      float64
 24  BCS1TotalScore       3190 non-null   float64
dtypes: float64(15), object(10)
memory usage: 648.6+ KB

In [2]:
# BRIDGES file
# Number of columns in data
print("There are",len(bridges_df.columns),"columns in the Bridges.xlsx file.")
# Names of columns in the data
print("The column names are:")
print(bridges_df.columns)

There are 25 columns in the Bridges.xlsx file.
The column names are:
Index(['StructureName', 'StructureType', 'Condition of Bridge', 'TotalWidth',
       'TotalLength', 'ConstructionYear', 'NumberOfSpan', 'Zone', 'Circle',
       'Division', 'Sub-Division', 'RoadNo', 'Unnamed: 13', 'StructureLRPName',
       'ReferenceLRPNo', 'LocationLRPOffset', 'LocationChainage',
       'LatitudeDegree', 'LatitudeMinute', 'LatitudeSecond', 'LongitudeDegree',
       'LongitudeMinute', 'LongitudeSecond', 'Unnamed: 24', 'BCS1TotalScore'],
      dtype='object')

In [3]:
# Check if there are duplicates
bridges_df = bridges_df.drop_duplicates()
bridges_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 3189 entries, 1.0 to nan
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   StructureName        2842 non-null   object
 1   StructureType        3186 non-null   object
 2   Condition of Bridge  3186 non-null   object
 3   TotalWidth           3179 non-null   float64
 4   TotalLength          3186 non-null   float64
 5   ConstructionYear     3176 non-null   float64
 6   NumberOfSpan         3178 non-null   float64
 7   Zone                 3189 non-null   object
 8   Circle               3189 non-null   object
 9   Division             3189 non-null   object
 10  Sub-Division         3189 non-null   object
 11  RoadNo               3189 non-null   object
 12  Unnamed: 13          0 non-null      float64
 13  StructureLRPName     3186 non-null   object
 14  ReferenceLRPNo       3186 non-null   object
 15  LocationLRPOffset    3186 non-null   float64
 16  LocationChainage     3185 non-null   float64
 17  LatitudeDegree       3184 non-null   float64
 18  LatitudeMinute       3184 non-null   float64
 19  LatitudeSecond       3169 non-null   float64
 20  LongitudeDegree      3184 non-null   float64
 21  LongitudeMinute      3184 non-null   float64
 22  LongitudeSecond      3163 non-null   float64
 23  Unnamed: 24          0 non-null      float64
 24  BCS1TotalScore       3186 non-null   float64
dtypes: float64(15), object(10)
memory usage: 647.8+ KB

There were no duplicates, but there are two empty columns which can be removed and a relatively high number of missing values in the structure name column.

In [4]:
# Drop the empty columns
bridges_df.drop(columns= ['Unnamed: 13', 'Unnamed: 24'],inplace = True)

In [5]:
# Check what is happening with the missing structure name values
missing_name = bridges_df[bridges_df['StructureName'].isnull()]

In [6]:
# We can conclude that within the unnamed structures other data is upkept fine
missing_name.isnull().sum(axis = 0)

StructureName          347
StructureType            0
Condition of Bridge      0
TotalWidth               0
TotalLength              0
ConstructionYear         2
NumberOfSpan             0
Zone                     0
Circle                   0
Division                 0
Sub-Division             0
RoadNo                   0
StructureLRPName         0
ReferenceLRPNo           0
LocationLRPOffset        0
LocationChainage         0
LatitudeDegree           1
LatitudeMinute           1
LatitudeSecond           4
LongitudeDegree          1
LongitudeMinute          1
LongitudeSecond          2
BCS1TotalScore           0
dtype: int64

In [7]:
# Drop missing values except those of structure name 
bridges_df.dropna(subset=[n for n in bridges_df if n != 'StructureName'], inplace=True)

The unnamed structures can be kept in the dataset because an unnamed bridge is not a problem for plotting. Rows with other missing values are dropped because they are a very small percentage of the total set (these rows can be examined later and possibly added back.)

In [8]:
# Dropped 70 rows
bridges_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 3123 entries, 1.0 to nan
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   StructureName        2783 non-null   object
 1   StructureType        3123 non-null   object
 2   Condition of Bridge  3123 non-null   object
 3   TotalWidth           3123 non-null   float64
 4   TotalLength          3123 non-null   float64
 5   ConstructionYear     3123 non-null   float64
 6   NumberOfSpan         3123 non-null   float64
 7   Zone                 3123 non-null   object
 8   Circle               3123 non-null   object
 9   Division             3123 non-null   object
 10  Sub-Division         3123 non-null   object
 11  RoadNo               3123 non-null   object
 12  StructureLRPName     3123 non-null   object
 13  ReferenceLRPNo       3123 non-null   object
 14  LocationLRPOffset    3123 non-null   float64
 15  LocationChainage     3123 non-null   float64
 16  LatitudeDegree       3123 non-null   float64
 17  LatitudeMinute       3123 non-null   float64
 18  LatitudeSecond       3123 non-null   float64
 19  LongitudeDegree      3123 non-null   float64
 20  LongitudeMinute      3123 non-null   float64
 21  LongitudeSecond      3123 non-null   float64
 22  BCS1TotalScore       3123 non-null   float64
dtypes: float64(13), object(10)
memory usage: 585.6+ KB

In [9]:
bridges_df.head(2)

,StructureName,StructureType,Condition of Bridge,TotalWidth,TotalLength,ConstructionYear,NumberOfSpan,Zone,Circle,Division,...,ReferenceLRPNo,LocationLRPOffset,LocationChainage,LatitudeDegree,LatitudeMinute,LatitudeSecond,LongitudeDegree,LongitudeMinute,LongitudeSecond,BCS1TotalScore
Number,,,,,,,,,,,,,,,,,,,,,
1.0,Kanch pur Bridge.,PC Girder Bridge,A,14.55,394.23,1986.0,8.0,Dhaka,Dhaka,Narayanganj,...,LRP005,3976.0,8.976,23.0,42.0,7.5,90.0,30.0,57.3,0.0
2.0,Madanpur Bridge.(L),PC Girder Bridge,A,9.20,27.50,2003.0,1.0,Dhaka,Dhaka,Narayanganj,...,LRP013,305.0,12.660,23.0,41.0,28.4,90.0,32.0,41.6,0.0

In [10]:
BMMS_df = pd.read_excel('BMMS_overview.xls')
BMMS_df = BMMS_df.drop_duplicates()
BMMS_df.head(2)

,road,km,type,LRPName,name,length,condition,structureNr,roadName,chainage,width,constructionYear,spans,zone,circle,division,sub-division,lat,lon,EstimatedLoc
0,N1,1.800,Box Culvert,LRP001a,.,11.3,A,117861,Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...,1.8,19.5,2005.0,2.0,Dhaka,Dhaka,Narayanganj,Narayanganj-1,23.702889,90.450389,bcs1
1,N1,4.925,Box Culvert,LRP004b,.,6.6,A,117862,Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...,4.925,35.4,2006.0,1.0,Dhaka,Dhaka,Narayanganj,Narayanganj-1,23.693611,90.478833,bcs1

In [11]:
# BMMS file
# Number of columns in data
print("There are",len(BMMS_df.columns),"columns in the BMMS_overview.xls file.")
# Names of columns in the data
print("The column names are:")
print(BMMS_df.columns)

There are 20 columns in the BMMS_overview.xls file.
The column names are:
Index(['road', 'km', 'type', 'LRPName', 'name', 'length', 'condition',
       'structureNr', 'roadName', 'chainage', 'width', 'constructionYear',
       'spans', 'zone', 'circle', 'division', 'sub-division', 'lat', 'lon',
       'EstimatedLoc'],
      dtype='object')

In [12]:
# Check for unreasonable missing values
BMMS_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21407 entries, 0 to 21406
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   road              21407 non-null  object
 1   km                21406 non-null  float64
 2   type              21407 non-null  object
 3   LRPName           21407 non-null  object
 4   name              21060 non-null  object
 5   length            21398 non-null  float64
 6   condition         21407 non-null  object
 7   structureNr       21407 non-null  int64
 8   roadName          21406 non-null  object
 9   chainage          21407 non-null  object
 10  width             18290 non-null  float64
 11  constructionYear  18289 non-null  float64
 12  spans             18290 non-null  float64
 13  zone              21406 non-null  object
 14  circle            21406 non-null  object
 15  division          21406 non-null  object
 16  sub-division      21406 non-null  object
 17  lat               21313 non-null  float64
 18  lon               21313 non-null  float64
 19  EstimatedLoc      21407 non-null  object
dtypes: float64(7), int64(1), object(12)
memory usage: 3.4+ MB

Missing locations are a problem, so lets check on the rows with lat and lon data missing

In [13]:
#rows with lat lon missing
BMMS_df[BMMS_df[['lat','lon']].isna().any(axis=1)]

,road,km,type,LRPName,name,length,condition,structureNr,roadName,chainage,width,constructionYear,spans,zone,circle,division,sub-division,lat,lon,EstimatedLoc
4520,R750,NaN,RCC Girder Bridge,LRP006b,Daitala Bridge,41.50,A,118833,Jessore-Narail Road,,NaN,NaN,NaN,Khulna,Jessore,Jessore,Jessore-2,NaN,NaN,bcs1
4900,R856,9.578,PC Girder Bridge,LRP009e,NaN,10.00,A,118961,Noapara (Katakhali)-Fakirhat-Mollahat Road,9.578,NaN,NaN,NaN,Khulna,Khulna,Bagerhat,Bagerhat-2,NaN,NaN,bcs1
4901,R856,10.250,RCC Bridge,LRP010b,NaN,46.12,A,118963,Noapara (Katakhali)-Fakirhat-Mollahat Road,10.25,NaN,NaN,NaN,Khulna,Khulna,Bagerhat,Bagerhat-2,NaN,NaN,bcs1
4904,R856,13.332,PC Girder Bridge,LRP013a,NaN,10.00,A,118983,Noapara (Katakhali)-Fakirhat-Mollahat Road,13.332,NaN,NaN,NaN,Khulna,Khulna,Bagerhat,Bagerhat-2,NaN,NaN,bcs1
4906,R856,13.842,PC Girder Bridge,LRP013d,NaN,30.02,A,118986,Noapara (Katakhali)-Fakirhat-Mollahat Road,13.842,NaN,NaN,NaN,Khulna,Khulna,Bagerhat,Bagerhat-2,NaN,NaN,bcs1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20749,Z1090,2.650,RCC Girder Bridge,LRP002a,Bhairobertek Bridge,7.10,D,120115,Majerchar-Mahajampur-Barapa-Rupashi-Majina-Kay...,2.65,NaN,NaN,NaN,Dhaka,Dhaka,Narayanganj,Narayanganj-1,NaN,NaN,bcs1
20832,Z1602,39.066,Truss with Steel Deck,LRP039a,Jowtho Khamar Bridge,31.90,D,121642,Ramgarh-Jaliapara-Sindukchhari-Mahalchhari Road,39.066,NaN,NaN,NaN,Chittagong,Khagrachari,Khagrachari,Ramghar,NaN,NaN,error
21106,Z5073,15.113,RCC Girder Bridge,LRP015a,NaN,39.05,D,119689,Prothomachew-Pirgachha-Matidali Road,15.113,NaN,NaN,NaN,Rangpur,Bogra,Bogra,Bogra,NaN,NaN,bcs1
21130,Z5452,26.814,Baily with Steel Deck,LRP027b,Badalgachhi Bailey Bridge,74.50,D,118786,Joypurhat-Akkelpur-Badalgachhi-Road,26.814,NaN,NaN,NaN,Rajshahi,Rajshahi,Naogaon,Naogaon,NaN,NaN,error
21396,Z8708,75.398,Truss with Steel Deck,LRP074a,Patharghata Steel Bridge,68.93,D,119048,Rajapur-Kathalia-Amua-Bamna-Patharghata Road,75.398,NaN,NaN,NaN,Barisal,Patuakhali,Barguna,Barguna,NaN,NaN,error

To check if the lon lat data can be retrieved, I checked the original BMMS file and looked up several of the rows displayed above. Other entries were missing location data so these rows were dropped.

In [14]:
# Cross check with LRPNAME from source data
BMMS_df.loc[BMMS_df['structureNr']==104032]

,road,km,type,LRPName,name,length,condition,structureNr,roadName,chainage,width,constructionYear,spans,zone,circle,division,sub-division,lat,lon,EstimatedLoc
17818,R750,6.135,RCC Girder Bridge,LRP006b,Daitala Bridge,41.6,C,104032,Jessore-Narail Road,6.135,7.28,1976.0,3.0,Khulna,Jessore,Jessore,Jessore-2,23.168056,89.279722,bcs1

In [15]:
BMMS_df.dropna(subset=['lat','lon'], inplace=True)

In [16]:
RMMS_df = pd.read_excel('_overview.xls')
RMMS_df = RMMS_df.drop_duplicates()
RMMS_df.head(2)

,road,name,length,start,end
0,N1,Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...,462,Dhaka (Jatrabari),Teknaf
1,N101,Comilla - Bibirbazar Land Port Connecting Road,6,Comilla (Balutopa),Bibirbazar

# 2. Evaluate Estimatied Loc

In [38]:
# Compare road precise estimation with the road dataset
BMMS_road = BMMS_df[BMMS_df['EstimatedLoc'] =='road_precise']
BMMS_road.head(2)

,road,km,type,LRPName,name,length,condition,structureNr,roadName,chainage,width,constructionYear,spans,zone,circle,division,sub-division,lat,lon,EstimatedLoc
2,N1,8.976,PC Girder Bridge,LRP008b,Kanch pur Bridge.,394.23,A,119889,Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...,8.976,NaN,NaN,NaN,Dhaka,Dhaka,Narayanganj,Narayanganj-1,23.704583,90.518833,road_precise
8,N1,12.660,PC Girder Bridge,LRP013a,Madanpur Bridge.(L),27.50,A,119897,Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...,12.66,NaN,NaN,NaN,Dhaka,Dhaka,Narayanganj,Vitikandi,23.685500,90.551278,road_precise

# 3. Clean the Bridges data

### Merge BMMS and RMMS files to make sure everything is included

In [39]:
mergedBMMSRMMS = pd.concat([BMMS_df, RMMS_df])
mergedBMMSRMMS.head(2)

,road,km,type,LRPName,name,length,condition,structureNr,roadName,chainage,...,spans,zone,circle,division,sub-division,lat,lon,EstimatedLoc,start,end
0,N1,1.800,Box Culvert,LRP001a,.,11.3,A,117861.0,Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...,1.8,...,2.0,Dhaka,Dhaka,Narayanganj,Narayanganj-1,23.702889,90.450389,bcs1,NaN,NaN
1,N1,4.925,Box Culvert,LRP004b,.,6.6,A,117862.0,Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...,4.925,...,1.0,Dhaka,Dhaka,Narayanganj,Narayanganj-1,23.693611,90.478833,bcs1,NaN,NaN

In [40]:
# Drop duplicate rows if they have the same road, name, and length
mergedBMMSRMMS = mergedBMMSRMMS.drop_duplicates(subset=['road','name','length'], keep='first')
mergedBMMSRMMS.head(2)

# Add a column to use as index by concatenating road and LRP name
mergedBMMSRMMS["RoadLRP"] = mergedBMMSRMMS["road"].astype(str) + mergedBMMSRMMS["LRPName"].astype(str)
mergedBMMSRMMS.head(2)

,road,km,type,LRPName,name,length,condition,structureNr,roadName,chainage,...,zone,circle,division,sub-division,lat,lon,EstimatedLoc,start,end,RoadLRP
0,N1,1.800,Box Culvert,LRP001a,.,11.3,A,117861.0,Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...,1.8,...,Dhaka,Dhaka,Narayanganj,Narayanganj-1,23.702889,90.450389,bcs1,NaN,NaN,N1LRP001a
1,N1,4.925,Box Culvert,LRP004b,.,6.6,A,117862.0,Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...,4.925,...,Dhaka,Dhaka,Narayanganj,Narayanganj-1,23.693611,90.478833,bcs1,NaN,NaN,N1LRP004b

In [21]:
# Rename bridges_df column names to match mergedBMMSRMMS
bridges_df = bridges_df.rename(columns={"RoadNo":"road","StructureLRPName":"LRPName","LocationChainage":"chainage"})
bridges_df.head(2)

# Add a column to use as index by concatenating road and LRP name
bridges_df["RoadLRP"] = bridges_df["road"].astype(str) + bridges_df["LRPName"].astype(str)
bridges_df.head(2)

,StructureName,StructureType,Condition of Bridge,TotalWidth,TotalLength,ConstructionYear,NumberOfSpan,Zone,Circle,Division,...,LocationLRPOffset,chainage,LatitudeDegree,LatitudeMinute,LatitudeSecond,LongitudeDegree,LongitudeMinute,LongitudeSecond,BCS1TotalScore,RoadLRP
Number,,,,,,,,,,,,,,,,,,,,,
1.0,Kanch pur Bridge.,PC Girder Bridge,A,14.55,394.23,1986.0,8.0,Dhaka,Dhaka,Narayanganj,...,3976.0,8.976,23.0,42.0,7.5,90.0,30.0,57.3,0.0,N1LRP008b
2.0,Madanpur Bridge.(L),PC Girder Bridge,A,9.20,27.50,2003.0,1.0,Dhaka,Dhaka,Narayanganj,...,305.0,12.660,23.0,41.0,28.4,90.0,32.0,41.6,0.0,N1LRP013a

### Update Bridges dataframe by filling in missing data to include chainage data from merged BMMS and RMMS dataframe

In [41]:
# Match the column "RoadLRP" in dataframes bridges_df and mergedBMMSRMMS

In [44]:
# Merge on RoadLRP and add the new chainage value
bridges_merged = bridges_df.merge(mergedBMMSRMMS[['chainage','RoadLRP']], on = 'RoadLRP', how='left')
# Drop duplicate values
bridges_merged = bridges_merged.drop_duplicates()
bridges_merged

,StructureName,StructureType,Condition of Bridge,TotalWidth,TotalLength,ConstructionYear,NumberOfSpan,Zone,Circle,Division,...,chainage_x,LatitudeDegree,LatitudeMinute,LatitudeSecond,LongitudeDegree,LongitudeMinute,LongitudeSecond,BCS1TotalScore,RoadLRP,chainage_y
0,Kanch pur Bridge.,PC Girder Bridge,A,14.55,394.23,1986.0,8.0,Dhaka,Dhaka,Narayanganj,...,8.976,23.0,42.0,7.5,90.0,30.0,57.3,0.0,N1LRP008b,8.976
2,Madanpur Bridge.(L),PC Girder Bridge,A,9.20,27.50,2003.0,1.0,Dhaka,Dhaka,Narayanganj,...,12.660,23.0,41.0,28.4,90.0,32.0,41.6,0.0,N1LRP013a,12.66
5,Madanpur Bridge(R),PC Girder Bridge,A,9.12,27.50,2007.0,1.0,Dhaka,Dhaka,Narayanganj,...,12.688,23.0,41.0,28.0,90.0,32.0,41.6,0.0,N1LRP013b,12.688
6,Langalbandh Bridge.,RCC Girder Bridge,B,17.80,159.52,1998.0,5.0,Dhaka,Dhaka,Narayanganj,...,17.134,23.0,39.0,33.9,90.0,34.0,10.9,31.0,N1LRP017b,17.134
8,Darikandi Bridge (L),PC Girder Bridge,A,9.15,20.50,2002.0,1.0,Dhaka,Dhaka,Narayanganj,...,17.222,23.0,39.0,21.8,90.0,34.0,27.7,0.0,N1LRP018a,17.222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5936,NaN,RCC Girder Bridge,C,6.67,20.00,2013.0,1.0,Barisal,Barisal,Bhola,...,3.440,22.0,37.0,5.0,90.0,41.0,25.0,30.0,Z8916LRP003a,3.44
5937,NaN,Truss with Steel Deck,A,4.21,31.07,1995.0,1.0,Barisal,Barisal,Bhola,...,6.692,22.0,25.0,43.5,90.0,47.0,18.1,0.0,Z8943LRP007a,5.886
5938,NaN,Truss with Steel Deck,A,4.21,31.07,1995.0,1.0,Barisal,Barisal,Bhola,...,6.692,22.0,25.0,43.5,90.0,47.0,18.1,0.0,Z8943LRP007a,6.692
5939,NaN,RCC Girder Bridge,B,4.06,12.00,1996.0,1.0,Barisal,Barisal,Bhola,...,8.104,22.0,25.0,48.6,90.0,46.0,30.3,30.0,Z8943LRP008c,8.104
5940,NaN,Baily with Steel Deck,A,5.00,27.36,2006.0,1.0,Barisal,Barisal,Bhola,...,2.070,22.0,24.0,51.0,90.0,47.0,30.0,0.0,Z8948LRP002a,2.07

In [45]:
# Locate differences between chainage
bridges_merged.query('chainage_x != chainage_y')

,StructureName,StructureType,Condition of Bridge,TotalWidth,TotalLength,ConstructionYear,NumberOfSpan,Zone,Circle,Division,...,chainage_x,LatitudeDegree,LatitudeMinute,LatitudeSecond,LongitudeDegree,LongitudeMinute,LongitudeSecond,BCS1TotalScore,RoadLRP,chainage_y
9,Darikandi Bridge (L),PC Girder Bridge,A,9.15,20.50,2002.0,1.0,Dhaka,Dhaka,Narayanganj,...,17.222,23.0,39.0,21.8,90.0,34.0,27.7,0.0,N1LRP018a,17.722
357,Rauzan dalarmuk Bridge,RCC Girder Bridge,A,7.85,15.10,1978.0,1.0,Chittagong,Chittagong,Chittagong,...,29.154,22.0,32.0,19.2,91.0,57.0,22.1,0.0,N106LRP030b,28.72
432,Bridge Over Arial,RCC Girder Bridge,B,9.20,241.61,1983.0,5.0,Dhaka,Dhaka,Narsingdi,...,58.035,24.0,2.0,48.9,90.0,51.0,43.7,30.0,N2LRP058a,58.112
434,Bridge Over Arial,RCC Girder Bridge,B,9.20,141.61,1983.0,5.0,Dhaka,Dhaka,Narsingdi,...,58.112,24.0,2.0,49.2,90.0,51.0,44.0,30.0,N2LRP058a,58.035
469,Khilsima Bridge,RCC Girder Bridge,B,9.85,27.03,1992.0,2.0,Comilla,Comilla,Brahmanbaria,...,97.263,24.0,2.0,31.1,91.0,12.0,49.8,30.0,N2LRP098a,97.668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5812,Niamoti bridge,RCC Girder Bridge,A,7.50,60.21,2006.0,3.0,Barisal,Patuakhali,Barguna,...,28.005,22.0,28.0,52.0,90.0,11.0,47.0,0.0,Z8803LRP028a,28
5828,Thakurbari Bridge,RCC Girder Bridge,A,6.90,72.43,2012.0,4.0,Barisal,Patuakhali,Patuakhali,...,6.412,22.0,27.0,39.2,90.0,23.0,38.9,0.0,Z8806LRP006a,6.431
5830,Rajakhali Bridge,Baily with Steel Deck,A,4.12,12.40,1996.0,1.0,Barisal,Patuakhali,Patuakhali,...,6.431,22.0,27.0,39.0,90.0,23.0,39.0,0.0,Z8806LRP006a,6.412
5841,Kagozir Bridge,RCC Girder Bridge,B,10.57,14.90,2004.0,1.0,Barisal,Patuakhali,Patuakhali,...,23.104,22.0,25.0,23.4,90.0,32.0,38.1,1.0,Z8806LRP023a,23.162
5937,NaN,Truss with Steel Deck,A,4.21,31.07,1995.0,1.0,Barisal,Barisal,Bhola,...,6.692,22.0,25.0,43.5,90.0,47.0,18.1,0.0,Z8943LRP007a,5.886

In [50]:
# Create new row as an average of chainage discrepancies 
bridges_merged["chainage_avg"] = (bridges_merged["chainage_x"] + bridges_merged["chainage_y"] ) / 2
bridges_merged.head(2)

,StructureName,StructureType,Condition of Bridge,TotalWidth,TotalLength,ConstructionYear,NumberOfSpan,Zone,Circle,Division,...,LatitudeDegree,LatitudeMinute,LatitudeSecond,LongitudeDegree,LongitudeMinute,LongitudeSecond,BCS1TotalScore,RoadLRP,chainage_y,chainage_avg
0,Kanch pur Bridge.,PC Girder Bridge,A,14.55,394.23,1986.0,8.0,Dhaka,Dhaka,Narayanganj,...,23.0,42.0,7.5,90.0,30.0,57.3,0.0,N1LRP008b,8.976,8.976
2,Madanpur Bridge.(L),PC Girder Bridge,A,9.20,27.50,2003.0,1.0,Dhaka,Dhaka,Narayanganj,...,23.0,41.0,28.4,90.0,32.0,41.6,0.0,N1LRP013a,12.66,12.66